mixin AppleTV(image)
  svg(x='0px' y='0px' viewbox="0 0 4166 2588" width="41660" height="25880")
    image(style='overflow:visible;' width='4166' height='2588' href=require("../images/Apple TV - 4K.png"))
    image(style='overflow:visible;' width='3840' height='2160' href=image x='27' y='32')
