mixin iPad(image)
  svg(version='1.1' xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' viewbox="0 0 2578 1862" width="25780" height="18620")
    image(style='overflow:visible;' width='2388' height='1668' href=image x='97' y='99')
    image(style='overflow:visible;' width='2578' height='1862' href=require("../images/iPad Pro 11 - Space Gray - Landscape.png"))
